.navbar-default {
  background-color: transparent;
  border: none;
}
.navbar-nav {
  padding-top: 10px;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.navbar-nav>li>a:hover {
  color: 
}
.main-menu-container {
  padding-top: 45px;
  transition: .3s all ease-in-out;
}
.main-menu-container.menu-bg-overlay {
  background-color: #ee0979;
  padding-top: 0;
  padding: 10px 0px;
  padding-bottom: 0;
}
.main-menu-container.menu-bg-overlay .navbar {
  margin-bottom: 0px;
}

#main-nav {
  display: inline-block;
  float: none;
  vertical-align: middle;
}
#main-menu nav {
  width: 67%;
  float: left;
  text-align: right;
}
.try-now-btn {
  height: 55px;
  width: 170px;
  background-color: #fff;
  color: #010101;
  float: right;
  line-height: 55px;
  border-radius: 40px;
  margin-top: 5px;
}
.try-now-btn a {
  display: block;
  width: 100%;
}
.navbar-default .navbar-brand {
  padding-left: 0;
  padding-top: 20px;
}
.menu-item-has-children {
  position: relative;
}
.menu-item-has-children li {
  margin-bottom: 5px;
  transition: .3s all ease-in-out;
}
.menu-item-has-children li:hover {
  margin-left: 3px;
}

.menu-item-has-children:after {
  top: 17px;
  right: -2px;
  content: '\f123';
  color: #fff;
  position: absolute;
  font-family: "Ionicons";
  transition: .3s all ease-in-out;
  font-size: 12px;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}
.sub-menu {
  width: 138px;
  display: table;
  box-shadow: 0 5px 10px 0 rgba(83,82,82,.1);
  background-color: #fff;
  position: absolute;
  transform: scaleY(0);
  transform-origin: center top 0;
  transition: .3s all ease-in-out;
  top: 65px;
  left: 15px;
  text-align: left;
  padding: 15px !important;
}
.menu-item-has-children:hover .sub-menu {
  transform: scaleY(1);
}
.navbar-nav>li {
  margin-left: 5px;
}
.navbar-nav>li>a {
  padding-bottom: 30px;
}